<div class="container-fluid check-page">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-xs-12 text-center">
			<div class="logo logo-lg logo-main">Can I Haz Delivery?</div>
		</div>
	</div>
</div>

<div id="map" class="map"></div>

<div class="container-fluid check-page-body">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-xs-12 text-center">
			<div ng-show="isDeliveryAvailable()">
				<h1 class="callToAction">AWWYEAH! We Shall Serve you! :)</h1>
				<p class="warn-message">Ready to kill your hungry?</p>
				<p class="warn-message">Call us at: +55 (11) 3030-3030</p>
			</div>

			<div ng-show="!isDeliveryAvailable()">
				<h1 class="callToAction">Oops! We can't reach you! :(</h1>
				<p class="warn-message">Looks like our awesome delivery services are not available for your location. You can try another location!</p>
			</div>
		</div>
	</div>
</div>

<button class="btn btn-default btn-block btn-lg check-page-button" ng-href="/#" >
	<span>Can I Haz Delivery Once Again?</span>
</button>