@import url('https://fonts.googleapis.com/css?family=Wendy+One');

/* Helpers */
.vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.text-center {
	text-align: center;
}

.no-padding {
	padding: 0;
}

/* Design Patterns */
.btn {
	border: 0;
	padding: 1rem;
	cursor: pointer;
	font-family: 'Wendy One', sans-serif;
	text-align: center;

}

.btn-lg {
	font-size: 1.4em;
}

.btn-block {
	width: 100%;
	display: block;
	box-sizing: border-box;
}

.btn-default {
	background-color: #FDB627;
	color: #FFF;
	text-decoration: none;
}

.btn-default:hover{
	background-color: #FFAA00;
}

.btn-blank {
	background-color: #DDD;
	color: #FFF;
	text-decoration: none;
}

.btn-blank:hover{
	background-color: #AAA;
}

.logo {
	font-family: 'Wendy One', sans-serif;
	color: #FFF;
	text-shadow: 4px 4px 0px gray;
}

.logo-lg {
	font-size: 4em;
}

.select-input {
	background-color: #FFF;
	border: 1px solid #CCC;
	font-size: 1rem;
	height: 2rem;
	padding: .3rem;
	color: #777;
}

.input-block {
	width: 100%;
}

/* General rules */
body,
html {
	margin: 0;
	height: 100%;
}

body {
	font-size: 16px;
}

/* Main Page */
.main-bg {
	background-image: url("../images/bg.png");
	height: 100vh;
	background-size: cover;
}

.form-group .input-item {
	width: 100%;
    border: 0;
    padding: 1rem;
    box-sizing: border-box;
}

.logo-main {
	margin-bottom: 5rem;
}

.city-input.input-item,
.street-input.input-item {
	border-right: 1px solid #CCC;
}

.btn-check-delivery:hover span{
	display: none;
}

.btn-check-delivery:hover:before{
	content: "We Shall See!";
	background-color: #FFAA00;
}

/* Check Page */
.map {
	height: 40%;
}

.directions-panel {
	position: absolute;
	top: 30%;
	width: 16rem;
	height: 35%;
	overflow-y: scroll;
	background-color: #FFF;
	padding: 1rem;
}

.check-page {
	background-color: #FDB627;
	height: 30%;
}

.check-page .logo {
	margin-top: 4rem;
}

.check-page-body {
	background-color: #F75555;
	height: 20%;
}

.check-page-body .callToAction {
	color: #FFF;
	font-family: 'Wendy One', sans-serif;
}

.check-page-body .warn-message {
	color: #FFF;
	font-family: sans-serif;
}

.check-page-button {
	height: 10%;
}

@media (max-width: 414px) {
	body {
		font-size: 11px;
	}
}